## <font color = '#7FFFD4'> What are pandas?

**Pandas** is a Python library used to manipulate data sets.

It offers data cleaning, exploration and analysis.

### <font color = '#DEB887'> Import Pandas

In [3]:
#import pandas 
import pandas

#import pandas using alias

import pandas as pd 

#from pandas import *

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.6 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/usr/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/usr/lib/python3/dist-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/usr/lib/python3/dist-packages/traitlets/config/application.py", line 846, in launch_instance
    app.start()
  File "/usr/lib/python3/dist-packages/ipykernel/kernelapp.py", line 677, in start
    self.io_loop.start()
  File "/usr/lib/python3/dist-packages/tornado/platform/asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 1909, in _run_once
    handle._run()
  File "/usr/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 461, in dispatch_queue
    await self.process_one()
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 450, in process_one
    await dispatch(*args)
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 357, in dispatch_shell
    await result
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 652, in execute_request
    reply_content = await reply_content
  File "/usr/lib/python3/dist-packages/ipykernel/ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/usr/lib/python3/dist-packages/ipykernel/zmqshell.py", line 532, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 2914, in run_cell
    result = self._run_cell(
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 2960, in _run_cell
    return runner(coro)
  File "/usr/lib/python3/dist-packages/IPython/core/async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3185, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3377, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_4905/3059626453.py", line 2, in <module>
    import pandas
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/arrays/__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/arrays/arrow/__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/arrays/arrow/array.py", line 53, in <module>
    from pandas.core import (
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/ops/__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/ops/array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/computation/expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/computation/check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/compat/_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "/usr/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/usr/lib/python3/dist-packages/numexpr/__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.6 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/usr/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/usr/lib/python3/dist-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/usr/lib/python3/dist-packages/traitlets/config/application.py", line 846, in launch_instance
    app.start()
  File "/usr/lib/python3/dist-packages/ipykernel/kernelapp.py", line 677, in start
    self.io_loop.start()
  File "/usr/lib/python3/dist-packages/tornado/platform/asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 1909, in _run_once
    handle._run()
  File "/usr/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 461, in dispatch_queue
    await self.process_one()
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 450, in process_one
    await dispatch(*args)
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 357, in dispatch_shell
    await result
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 652, in execute_request
    reply_content = await reply_content
  File "/usr/lib/python3/dist-packages/ipykernel/ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/usr/lib/python3/dist-packages/ipykernel/zmqshell.py", line 532, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 2914, in run_cell
    result = self._run_cell(
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 2960, in _run_cell
    return runner(coro)
  File "/usr/lib/python3/dist-packages/IPython/core/async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3185, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3377, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_4905/3059626453.py", line 2, in <module>
    import pandas
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/arrays/__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/arrays/arrow/__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/arrays/arrow/array.py", line 67, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/arrays/masked.py", line 61, in <module>
    from pandas.core import (
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/core/nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "/home/students-aimssn/.local/lib/python3.10/site-packages/pandas/compat/_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "/usr/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/usr/lib/python3/dist-packages/bottleneck/__init__.py", line 2, in <module>
    from .reduce import (

AttributeError: _ARRAY_API not found

### <font color = '#DEB887'>  DataFrames

\
Data sets in Pandas are generally multidimensional arrays, known as data frames.

In [4]:
data = {
  "calories": [420, 390, 390, 389, 340, 350, 342, 560, 340, 490],
  "duration": [50, 40, 40, 45, 56, 39,50, 51, 42, 43]
}
# data = dict()

# dataframe
df = pd.DataFrame(data)

In [5]:
df

   calories  duration
0       420        50
1       390        40
2       390        40
3       389        45
4       340        56
5       350        39
6       342        50
7       560        51
8       340        42
9       490        43

####  <font color = '#FF7F50'> Show data using the loc and iloc functions

In [6]:
#view the first row of through the first variable
df.loc[0, 'calories']
df.iloc[0,0]

np.int64(420)

In [7]:
#view the first two rows of the dataframe
df.loc[0:1, :]
df.iloc[0:2, :]

   calories  duration
0       420        50
1       390        40

In [8]:
#view the first 5 rows of the dataframe for the variables calories and duration
df.loc[:4, 'calories':'duration']
df.iloc[:5,[0,1 ]]

   calories  duration
0       420        50
1       390        40
2       390        40
3       389        45
4       340        56

####  <font color = '#FF7F50'> Show data using the head and tail functions

In [9]:
#view the first 6 rows
df.head(6)
#the last 7 rows
df.tail(7)

   calories  duration
3       389        45
4       340        56
5       350        39
6       342        50
7       560        51
8       340        42
9       490        43

### <font color = '#DEB887'>  Charger des fichiers donn√©es dans un DataFrame

In [47]:
# import data from a csv file, 
df_csv = pd.read_csv('data.csv')
df_csv.head()
# import data from a csv excel
#df_excel = pd.read_excel('data.xlsx')
#df_excel.head()
# to export data , follow this:
#to_csv('filename.csv')

   calories  duration        date
0     420.0      50.0  2022/05/05
1     390.0      40.0  2022/05/06
2     390.0      40.0  2022/05/06
3     389.0      45.0  2022/05/07
4     340.0      56.0  2022/05/08

In [48]:
# show data using head
df_csv.shape

(12, 3)

In [49]:
# show the dimension of the data
df_csv.columns

Index(['calories', 'duration', 'date'], dtype='object')

### .loc used for label-based indexing while .iloc used position-based indexing

#### .loc syntax df.[row_indexer, column_indexer] and .iloc syntax : df.iloc[row_indexer, column_indexer]

In [50]:
df_csv.loc[0:1]

   calories  duration        date
0     420.0      50.0  2022/05/05
1     390.0      40.0  2022/05/06

In [51]:
# show the list of column names 
df_csv.rename(columns={'calories': 'Calories', 'duration': 'Duration', 'date': 'Date'}, inplace=True)
# oR
#df_csv.columns = ['calories','duration', 'date']
# rename column names

In [52]:
df_csv

    Calories  Duration        Date
0      420.0      50.0  2022/05/05
1      390.0      40.0  2022/05/06
2      390.0      40.0  2022/05/06
3      389.0      45.0  2022/05/07
4      340.0      56.0  2022/05/08
5      350.0      39.0  2022/05/09
6      342.0      50.0  2022/05/02
7      560.0      51.0  2022/05/03
8      340.0      42.0  2022/05/10
9      490.0      43.0  2022/05/11
10       NaN      45.0  2022/05/12
11     450.0       NaN  2022/05/14

In [55]:
# show indexes 
df_csv.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [59]:
#To show the list
df_csv.index

Index(['day1', 'day2', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7', 'day8',
       'day9', 'day10', 'day11'],
      dtype='object')

In [56]:
# change the indexes or rename index
df_csv.rename(index={0:'day1', 1:'day2'}, inplace=True)
df_csv.head()
# or using for loop to rename index
for i in range(len(df_csv)):
    df_csv.rename(index={i:'day'+ str(i)}, inplace= True)

In [ ]:
df_csv

       Calories  Duration        Date
day1      420.0      50.0  2022/05/05
day2      390.0      40.0  2022/05/06
day2      390.0      40.0  2022/05/06
day3      389.0      45.0  2022/05/07
day4      340.0      56.0  2022/05/08
day5      350.0      39.0  2022/05/09
day6      342.0      50.0  2022/05/02
day7      560.0      51.0  2022/05/03
day8      340.0      42.0  2022/05/10
day9      490.0      43.0  2022/05/11
day10       NaN      45.0  2022/05/12
day11     450.0       NaN  2022/05/14

In [58]:
# Describe the data 
df_csv.describe()

         Calories   Duration
count   11.000000  11.000000
mean   405.545455  45.545455
std     70.460434   5.502066
min    340.000000  39.000000
25%    346.000000  41.000000
50%    390.000000  45.000000
75%    435.000000  50.000000
max    560.000000  56.000000

In [ ]:
# Describe the data 
# displays non-null values
df_csv.describe(include='object')

              Date
count           12
unique          11
top     2022/05/06
freq             2

In [ ]:
# Describe the data 
df_csv.describe(include='all')
# unique is the distinct unit of the vaiables

          Calories   Duration        Date
count    11.000000  11.000000          12
unique         NaN        NaN          11
top            NaN        NaN  2022/05/06
freq           NaN        NaN           2
mean    405.545455  45.545455         NaN
std      70.460434   5.502066         NaN
min     340.000000  39.000000         NaN
25%     346.000000  41.000000         NaN
50%     390.000000  45.000000         NaN
75%     435.000000  50.000000         NaN
max     560.000000  56.000000         NaN

In [62]:
# Infos of the data
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, day1 to day11
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Calories  11 non-null     float64
 1   Duration  11 non-null     float64
 2   Date      12 non-null     object
dtypes: float64(2), object(1)
memory usage: 384.0+ bytes

In [63]:
df_csv?

Type:        DataFrame
String form:
Calories  Duration        Date
           day1      420.0      50.0  2022/05/05
           day2      390.0       <...>      43.0  2022/05/11
           day10       NaN      45.0  2022/05/12
           day11     450.0       NaN  2022/05/14
Length:      12
File:        ~/.local/lib/python3.10/site-packages/pandas/core/frame.py
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index. This alignment also
    occurs if data is a Series or a DataFrame itself. Alignment is done on
    Series/DataFrame inputs.

    If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.
    If data is a dict containing one or more Series (possibly of different dtypes),
    ``copy=False`` will ensure that these inputs are not copied.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Notes
-----
Please reference the :ref:`User Guide <basics.dataframe>` for more information.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

Constructing DataFrame from Series/DataFrame:

>>> ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
>>> df = pd.DataFrame(data=ser, index=["a", "c"])
>>> df
   0
a  1
c  3

>>> df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])
>>> df2 = pd.DataFrame(data=df1, index=["a", "c"])
>>> df2
   x
a  1
c  3

### <font color = '#DEB887'> Pandas - Data Cleaning

In [65]:
# import data.csv
df_csv2 = pd.read_csv('data.csv')
df_csv2.head()

   calories  duration        date
0     420.0      50.0  2022/05/05
1     390.0      40.0  2022/05/06
2     390.0      40.0  2022/05/06
3     389.0      45.0  2022/05/07
4     340.0      56.0  2022/05/08

In [70]:
# Check the existence of null values number of variables that have missing values 
#df_csv2.isnull().sum() or  use .any()
#df_csv2.isnull().any().sum() or isna()
df_csv2.isna().any().sum()

np.int64(2)

In [ ]:
# Delete null values using dropna 
df_csv2.dropna(inplace=True)
df_csv2.head()

   calories  duration        date
0     420.0      50.0  2022/05/05
1     390.0      40.0  2022/05/06
2     390.0      40.0  2022/05/06
3     389.0      45.0  2022/05/07
4     340.0      56.0  2022/05/08

In [ ]:
# Replace null values by the mean
# import data.csv
df_csv2 = pd.read_csv('data.csv')
df_csv2.head()

In [77]:
# Replace null values by the median 
# import data.csv
for col in df_csv2.columns[:2]:
    df_csv2.fillna(df_csv2[col].median(), inplace=True)
df_csv2.isna().sum()

calories    0
duration    0
date        0
dtype: int64

In [ ]:
df_csv2.calories.mode()

0    340.0
1    390.0
Name: calories, dtype: float64

In [79]:
# Replace null values by the mode 
# import data.csv
for col in df_csv2.columns[:2]:
    df_csv2.fillna(df_csv2[col].mode()[0], inplace=True)
df_csv2.isna().sum()

calories    0
duration    0
date        0
dtype: int64

In [80]:
# Check the types of the different variables 
df_csv2.dtypes

calories    float64
duration    float64
date         object
dtype: object

In [90]:
# import data1.csv
df_csv1 = pd.read_csv('data1.csv')
df_csv1

      calories   duration        date
0   420.000000  50.000000  2022/05/05
1   390.000000  40.000000  2022/05/06
2   390.000000  40.000000  2022/05/06
3   389.000000  45.000000  2022/05/07
4   340.000000  56.000000  2022/05/08
5   350.000000  39.000000  2022/05/09
6   342.000000  50.000000  2022/05/02
7   560.000000  51.000000  2022/05/03
8   340.000000  42.000000  2022/05/10
9   490.000000  43.000000  2022/05/11
10  405.545455  45.000000  2022/05/12
11  450.000000  45.545455  2022/05/14

In [92]:
# Convert calories in integer using astype 
df_csv1.calories = df_csv1.calories.astype('int64')
df_csv1.dtypes

calories      int64
duration    float64
date         object
dtype: object

In [96]:
# convert data in datetime64 using astype 
df_csv1.date = df_csv1.date.astype('datetime64[ns]')
df_csv1.dtypes

calories             int64
duration           float64
date        datetime64[ns]
dtype: object

In [97]:
# Delete rows (axis = 0) 
df_csv1.drop([0,1], axis=0, inplace=True)
df_csv1

    calories   duration       date
2        390  40.000000 2022-05-06
3        389  45.000000 2022-05-07
4        340  56.000000 2022-05-08
5        350  39.000000 2022-05-09
6        342  50.000000 2022-05-02
7        560  51.000000 2022-05-03
8        340  42.000000 2022-05-10
9        490  43.000000 2022-05-11
10       405  45.000000 2022-05-12
11       450  45.545455 2022-05-14

In [98]:
# Delete columns (axis = 1)
df_csv1.drop(['duration'], axis=1, inplace=True)
df_csv1

    calories       date
2        390 2022-05-06
3        389 2022-05-07
4        340 2022-05-08
5        350 2022-05-09
6        342 2022-05-02
7        560 2022-05-03
8        340 2022-05-10
9        490 2022-05-11
10       405 2022-05-12
11       450 2022-05-14

In [103]:
# Delete columns (axis = 2)

In [99]:
# import data2.csv
df_cv3 = pd.read_csv('data2.csv')
df_cv3.head()

   calories  duration        date
0       420        50  2022-05-05
1       390        40  2022-05-06
2       390        40  2022-05-06
3       389        45  2022-05-07
4       340        56  2022-05-08

In [ ]:
# Check the existence of duplicates 
df_cv3.duplicated().sum()

np.int64(1)

In [106]:
# Delete duplicates 
df_cv3.drop_duplicates(inplace=True)
df_cv3.duplicated().sum()

np.int64(0)

In [107]:
#Download the data
df_cv3.to_csv('data2_no_duplicates.csv', index=False)

In [108]:
#Download the data
df_cv3.to_csv('clean_data.csv', index=False)

In [109]:
#Download the data 
df_cv3.to_excel('clean_data.xlsx', index=False)